/* Importaciones */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

/* Declaración de variables */
:root {
  --black: #222831;
  --white: #FFFFFF;
  --dark-gray: #393e46;
  --normal-gray: #888888;
  --light-gray: #eeeeee;
}

/* Inicializando etiquetas */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', sans-serif;
}

header, footer {
  padding: 0 25px;
}

header {
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
}

#brand {
  font-size: 24px;
}

#menu {
  display: flex;
  list-style: none;
}

.menu-item {
  margin-left: 15px;
}

main {
  height: 80vh;
  padding: 25px 50px;
  display: flex;
  align-content: flex-start;
  flex-wrap: wrap;
}

#banner {
  height: fit-content;
  width: 100%;
  text-align: center;
}

#options, #table {
  padding-top: 15px;
}

#options {
  width: 25%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#deck {
  margin-bottom: 15px;
}

.card {
  height: 150px;
  width: 110px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 1px solid var(--normal-gray);
  border-radius: 3px;
}

.card-back {
  background-color: var(--light-gray);
  background-image: url("data:image/svg+xml,%3Csvg width='16' height='20' viewBox='0 0 16 20' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%239C92AC' fill-opacity='0.4' fill-rule='evenodd'%3E%3Cpath d='M8 0v20L0 10M16 0v10L8 0M16 10v10H8'/%3E%3C/g%3E%3C/svg%3E");
}

.card-header, .card-body, .card-footer {
  padding: 5px;
  display: flex;
}

.card-header {
  justify-content: flex-start;
}

.card-header {
  justify-content: flex-end;
}

.card-body {
  justify-content: center;
}

.card-icon {
  width: 50px;
}

.cardSwepUp {
  position: relative;
  animation-name: swep-up;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

.cardSwepDown {
  position: relative;
  animation-name: swep-down;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

.btn-primary {
  width: 150px;
  padding: 5px;
  margin: 5px;
  background-color: var(--black);
  font-size: 18px;
  color: var(--white);
  border: 2px solid transparent;
  border-radius: 5px;
}

.btn-primary:hover {
  transform: scale(1.1);
}

.btn-primary:active {
  background-color: var(--white);
  color: var(--black);
  border: 2px solid var(--black);
}

.btn-primary:disabled {
  background-color: var(--normal-gray);
  color: var(--white);
}

.btn-primary:focus {
  outline: none;
}

#table {
  width: 75%;
}

.status {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
}

.player-name {
  margin-left: 15px;
  margin-bottom: 5px;
}

.player-points {
  margin-right: 15px;
}

.hand {
  min-height: 164px;
  padding: 5px 10px;
  display: flex;
  justify-content: space-evenly;
  border: 2px solid var(--black);
  border-radius: 5px;
}

.hidden {
  display: none !important;
}

.modal {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 150;
  display: flex;
  justify-content: center;
  align-items: center;
}

#modal-background{
  background-color: var(--black);
  opacity: 0.7;
  z-index: 100;
}

.modalBox {
  width: 700px;
  height: 400px;
  background-color: var(--white);
  border-radius: 5px;
  display: flex;
  flex-wrap: wrap;
  align-content: space-around;
  justify-content: center;
}

#winner {
  width: 100%;
  font-size: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#game-results {
  width: 100%;
  display: flex;
}

.player-results {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

footer {
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
}

/* ANIMACIONES */
@keyframes swep-up {
  0% {
    bottom: -5vh;
    opacity: 0%;
  }
  100% {
    bottom: 0;
    opacity: 100%;
  }
}

@keyframes swep-down {
  0% {
    bottom: 5vh;
    opacity: 0%;
  }
  100% {
    bottom: 0;
    opacity: 100%;
  }
}